@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f3f3f3;
}

.form-container {
  background: #fff;
  padding: 10px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-top: -60px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-container button {
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.form-container button:hover {
  background-color: #0056b3;
}

.form-container .links {
  text-align: center;
  margin-top: 10px;
}

.form-container .links a {
  display: block;
  margin: 5px 0;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.form-container .links a:hover {
  text-decoration: underline;
}

.alert {
  position: fixed;
  top: 80px;
  right: 10px;
  background-color: red;
  padding: 7px;
  border-radius: 10px;
}

#id_1 {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: red;
}

#id_2 {
  font-size: 0.8rem;
  margin-bottom: 20px;
  color: red;
  text-align: center;
}
